{% extends 'base.html.twig' %}

{% block title %}Kwotty{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3 class="quote-day">Kwotty of the day</h3>
            <blockquote>
                <p>{{ quote_day['quote'] }}</p>
                <footer>{{ quote_day['author'] }}</footer>
            </blockquote>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="quote-famous">Famous kwottys</h4>
            {% for quote in quotes %}
            <blockquote>
                <p>{{ quote['quote'] }}</p>
                <footer>{{ quote['author'] }}</footer>
            </blockquote>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
{% endblock %}